@font-face {
    font-family: "SF Pro Display";
    src: url("fonts/SF-Pro-Display-Medium.otf");
}
  * {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    color: #1e1744;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
    color: #404242;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,q
  h6 {
    font-size: inherit;
    font-weight: 400;
  }
  
  body {
    font-size: 14px;
  }
  
.container {
    margin: 0 auto;
    max-width: 1153px;
}
.menu {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.navigation {
  width: 40%;
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    width: 65%;
    li {
      height: 47px;
      line-height: 47px;
      text-align: center;
      margin-right: 6%;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
  }
}
.logoblock {
  width: 7%;
  height: 47px;
  line-height: 47px;
}
.burger-btn {
  display: none;
  width: 47px;
  height: 47px;
  position: relative;
  span {
    z-index: 100;
    top: 22px;
    left: 5px;
    position: absolute;
    width: 37px;
    height: 3px;
    background-color: #000;
    transition: transform .5s, opacity .5s, background-color .5s;
  }
  span:nth-child(1) {
    transform: translateY(-10px);
  }
  span:nth-child(3) {
    transform: translateY(10px);
  }
}
.logo {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;

  color: #000000;
}
.menu_btn button {
  background: #373737;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 120px;
  height: 47px;
}
.backimg {
  z-index: 10;
  width: 100%;
  img {
    width: 100%;
  }
}
.block-text1 {
  left: 32%;
  top: 38%;
  margin: 0 auto;
  z-index: 20;
  width: 50%;
  position: absolute;
  max-width: 500px;
  max-height: 257px;
  h1 {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  .head {
    margin: 0 auto;
    width: 85%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  .top_btn {
    button {
      display: block;
      margin: 0 auto;
      background: #373737;
      border-radius: 5px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
      width: 25%;
      height: 47px;
    }
  }

}
.topblock {
  position: relative;
  width: 100%;

}
.sec-1 {
  margin-bottom: 50px;
}
.accordeon {
  max-width: 100%;
  margin: 0 auto;
}
.title {
  text-align: left;
  width: 90%;
  display: block;
  margin: 0 auto  ;
  margin-bottom: 5px;
  padding: 30px 0px;
  padding-left: 30px;
  background-color: #373737;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 23px;
  color: #FFFFFF;
  
}
.hidden {
  max-height: 0;
  overflow: hidden;
}
.hide {
  opacity: 1;
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
.img_fur{
  width: 100%;
  img {
    width: 100%;
    border-radius: 5px;
  }
}
.first_flex{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.second_flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.furniture {
  width: 21%;
  background: #F9F9F9;
  box-shadow: 8px 8px 20px rgba(39, 39, 43, 0.1);
  border-radius: 5px;
  max-height: 338px;
  margin-bottom: 30px;
  
}
.flexzag {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #373737;
  }
  .price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    color: #373737;
  }
}
.info {
  transition: 0.4s;
  background-color: rgb(89, 87, 87);
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 90%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #e1e1e1;
}
.pad {
  padding: 10px;
}
.infor {
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #696161;
    padding: 3px;
}
.btn_fur{
  padding: 3px;
  margin-top: 7px;
  margin-bottom: 5px;
  button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    background: #373737;
    border-radius: 5px;
    width: 90px;
    height: 35px; 
  }
}
.zag_fur {
  margin-top: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}
.zag_info {
  width: 100%;
  p {
    max-width: 360px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #373737;
    margin: 0 auto;
    margin-top: 15px;
  }
}
.list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  li {
    margin-right: 70px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #686868;
  }
}
.view_btn {
  width: 100%;
  margin-bottom: 120px;
  button {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: #373737;
    border-radius: 5px;
  }
}
button:hover {
  transition: 0.4s;
  background-color: #454545;
}
.block-text1 .top_btn button:hover {
  transition: 0.4s;
  background-color: #454545;
}
.list li:hover {
  transition: 0.5s;
  color: #000000;
}
.navigation ul a:hover {
  color: #454545;
  text-decoration: underline;
  
}
//-----------------модальное окно-----------------//
.modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__active {
  display: block;
}
.modal__content {
  width: 70%;
  height: 50%;
  margin: 100px auto;
  box-shadow: 1px 1px 10px #777777;
  padding: 35px;
  background-color: #FFFFFF;
  /* анимация */
  position: relative;
  animation-name: animatetop;
  animation-duration: 0.6s;
  h2 {
    padding-top: 90px;
    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
  }
  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #373737;
    margin-bottom: 30px;
  }
.modal__close {
  display: block;
  margin: 0 auto;
  width: 120px;
  height: 47px;
  background: #373737;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
.modal__close:hover {
  transition: 0.2s;
  background-color: #545353;
}

}
.modal__close {
  cursor: pointer;
  
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*------------СЛАЙДЕР------------*/
.clients_say {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 15px;
}
.p0 {
  max-width: 33%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #373737;
  margin-bottom: 45px;
  margin-left: 7%;
}
.client {
  margin: 0 auto;
  width: 49%;
  background: #F9F9F9;
  border-radius: 5px;
  width: 100%;
	height: 100%;
  display: flex;
  animation-name: opac;
  transition: 1s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.name_client {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #373737;
  padding-top: 4%;
  margin-bottom: 8%;
}
.info_client {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #373737;
}
.block-text0 {
  margin-left: 4%;
  height: 100%;
}
/*---------------продолжение----------------------------*/
.prev,
.next {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 45px;
	z-index: 100;
	width: 8%;
	height: 100%;
	position: absolute;
	top: 0;
}
.prev {
	left: 0;
  opacity: 0;
}
.next {
	right: 0;
  opacity: 0;
}
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.sliderNew-dots {
	text-align: center;
	margin: 1rem 0;
  margin-bottom: 45px;
}
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #a0a1a9;
	border-radius: 50%;
	display: inline-block;
}
.dot.dot-active,
.dot:hover {
	background-color: #2b2a2a;
}
.wrap {
	width: 60%;
  height: 226px;
	margin: 0 auto;
	position: relative;
}
.flex-card {
  display: flex;
}
.inform {
  h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
  }
}
/*----------------ТАБЫ----------------------- */
.inform {
	padding: 50px 0;
}
.infor-header {
  display: flex;
  justify-content: center;
	margin: 25px 0;
}
.infor-img {
  width: 400px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}
.headertab {
  font-size: 18px;
	padding: 10px;
  margin-right: 15px;
	text-align: center;
  color: #686868;
}
.infor-tabcontent {
  padding: 25px;
	margin: 25px auto;
	width: 50%;
	background: #ffffff;
	border: 0.5px solid #e3e3e3;
  border-radius: 10px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  h2 {
    margin: 0px auto 20px;
    width: 100%;
    font-family: Revalia;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
}
.activ {
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.fade {
	animation: fade 1.5s;
	-webkit-animation: fade 1.5s;
}
@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
.inform .hide {
	display: none;
}
.inform .show {
	display: block;
}


@media (max-width:1050px) {
  .menu_btn button {
    width: 99px;
    font-size: 17px;
  }
}
@media (max-width:992px) { 
  .container {
    max-width: 774px;
  }
  .block-text1 {
    left: 22%;
    top: 35%;
    width: 60%;
    h1 {
      font-size: 29px;
      line-height: 35px;
    }
    .head {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .logo {
    width: 100px;
  }
  .p0 {
    max-width: 40%;
  }
  .infor-img {
    max-width: 350px;
  }
  .burger-btn {
    display: block;
    z-index: 300;
  }
  .navigation {
    padding-top: 75px;
    padding-left: 45px;
    z-index: 200;
    ul {
      display: block;
      li {
        text-align: left;
      }
    }
    position: absolute;
    width: 250px;
    height: 350px;
    left: -250px;
    top: 0;
    background-color: #eaeaea;
    display: block;
    transition: transform .5s;
  }
  .menu_btn {
    width: 81px;
    font-size: 15px;
  }
  .menu.open .navigation {
    transform: translateX(100%);
  }
  .menu.open .s1 {
    transform: translateY(0) rotate(45deg);
  }
  .menu.open .s2 {
    opacity: 0;
  }
  .menu.open .s3 {
    transform: translateY(0) rotate(-45deg);
  }
  .logo {
    width: 70px;
  }
  .logoblock {
    width: 9%;
  }
}
@media (max-width:774px) { 
  .container {
    max-width: 540px;
  }
  .block-text1 {
    h1 {
      font-size: 22px;
      line-height: 19px;
    }
    .head {
      font-size: 15px;
      line-height: 19px;
    }
    .top_btn button {
      font-size: 14px;
      height: 33px;
    }
} 
  .title {
    padding: 20px;
    font-size: 22px;
  }
  .info {
    font-size: 16px;
    line-height: 20px;
  }
  .list li {
    margin-right: 30px;
  }
  .zag_fur {
    margin-top: 35px;
    font-size: 22px;
  }
  .zag_info p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 19px;
  }
  .first_flex {
    display: block;
    margin: 0 auto;
  }
  .furniture {
    margin: 0 auto;
    width: 310px;
    margin-bottom: 30px;
  }
  .btn_fur button {
    margin-bottom: 10px;
  }
  .menu {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .logo {
    font-size: 18px;
  }
  .burger-btn span {
    width: 25px;
    height: 3px;
  }
  .burger-btn span:nth-child(1){
    transform: translateY(-8px);
  }
  .burger-btn span:nth-child(3) {
    transform: translateY(8px);
  }
  .infor-tabcontent {
    width: 100%;
  }
  .wrap {
    width: 100%;
  }
  .p0 {
    font-size: 18px;
    line-height: 24px;
    max-width: 60%;
  }
  .list li {
    margin: 0 auto;
  }
  .modal__content h2 {
    padding-top: 55px;
  }
}
@media (max-width:540px) {
  .container {
    max-width: 320px;
  }
  .block-text1 h1 {
    font-size: 16px;
    line-height: 15px;
  }
  .block-text1 .head {
    display: none;
  }
  .logoblock {
    width: 15%;
  }
  .block-text1 .top_btn button {
    width: 45%;
  }
  .title {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
  .info {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
  }
  .sec-1 {
    margin-bottom: 30px;
  }
  .zag_fur {
    margin-top: 30px;
    p {
      font-size: 14px;
    }
  }
  .list li {
    font-size: 16px;
    margin: 0 auto;
  }
  .furniture {
    width: 260px;
  }
  .view_btn {
    margin-bottom: 60px;
  }
  .clients_say {
    font-size: 22px;
    text-align: center;
  }
  .p0 {
    max-width: 100%;
    text-align: center;
  }
  .info_client {
    font-size: 13px;
    line-height: 19px;
  }
  .name_client {
    font-size: 17px;
  }
  .infor-img {
    max-width: 260px;
  }
  .logoblock {
    width: 16%;
  }
  .logo {
    width: 50px;
  }
  .modal__content h2 {
    margin-bottom: 15px;
    font-size: 30px;
    padding-top: 25px;
  }
  .modal__content p {
    font-size: 20px;
    line-height: 22px;
  }
  .modal__content .modal__close {
    
  }
}